@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/roboto-v20-latin_cyrillic/roboto-v20-latin_cyrillic-900.ttf");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("../fonts/roboto-v20-latin_cyrillic/roboto-v20-latin_cyrillic-500.ttf");
}
@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/roboto-v20-latin_cyrillic/roboto-v20-latin_cyrillic-regular.ttf");
}
@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/roboto-v20-latin_cyrillic/roboto-v20-latin_cyrillic-300italic.ttf");
}